#map_canvas {
	overflow: auto;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	margin-top: 30px;
	margin-bottom: 20px;
}

#preview_canvas {
	overflow: auto;
	border-style: solid;
	border-width: 0px;
	border-color: black;
	margin-top: 3px;
	margin-bottom: 3px;
}